@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'copperplate-gothic';
    src: url('/assets/fonts/copperplate-gothic.ttf');
  }
  html {
    @apply font-gothic;
  }
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col mx-auto sm:px-16 px-6 w-full;
}

.text_btn {
  @apply font-semibold text-center opacity-80 text-slate-200 hover:opacity-100 cursor-pointer
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] sm:text-6xl;
}

.desc {
  @apply mt-5 text-lg text-black sm:text-xl max-w-2xl;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}